@import "@/styles/mixins";

.productListingContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;

  @media(max-width:1024px){
    margin-top: 24px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
  }

  @media(max-width: 767px){
    grid-template-columns: repeat(1, 1fr);
  }
}
.productListing {
 background-color: white;
 color: black; 
 padding: 40px 24px;
 display: flex;
 flex-direction: column;
  height: 100%;
.link {
  margin-top: 24px;
  flex-grow: 1;
  display: flex;
  align-items: end;

  a {
    @include linkStyles;
  }
}

}

.image {
  position:relative;
  aspect-ratio: 1;
  margin: 16px 80px;
 }